.gridBody{
    padding:0px;
    margin:0px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    display: flex;
    flex-direction: column;
    margin:auto;
    justify-content: center;
}
.Row{
    background-color: red;
    display: flex;
    flex-direction: row;
    margin:0px;
}
.column{
    padding:5px;
    margin:0px;
    background-color:black;
    border-width: 0px;
    border-color: black;
    border-style: solid;
}

