body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(180, 177, 177);
}
.gridBody{
    border: 1px;
    border-color: black;
    border-style: solid;
}
.row{
    background-color: white;
    display: flex;
    flex-direction: row;
}
.column{
    padding:20px;
    margin:0px;
    background-color:black;
}
#sliderBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}